@font-face {
  font-family: "mona";
  src: url(./fonts/Mona-Sans.ttf);
}
@font-face {
  font-family: "serif";
  src: url(./fonts/SourceSerif4-VariableFont_opsz\,wght.ttf);
}
@font-face {
  font-family: "serif thin";
  src: url(./fonts/SourceSerif4-Italic-VariableFont_opsz\,wght.ttf);
}

* {
  box-sizing: border-box;
  padding:0;
  margin: 0;
}
body{
  font-family: "mona";
  background-color: #F8F7F4;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
}
nav{

  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;

}
ul {
  list-style-type: none;
}
a {
  color: #0D0C22;
  text-decoration: none;
}
.navbar {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  align-items: center;
  height: 100px;
  padding: 0px 40px;
  
}
.navbar ul{
  overflow: auto;
  width: 1468px;
}
.navbar li {
  float: left;
  font-size: 14px;
  padding: 0px 16px;
  white-space: nowrap;


}

.toggle a {
  font-size: 20px;
} 
.itemtray {
  float: left;
  max-width: 1205px;
}
.register {
  
  float: right;
  max-width: 2130px;
}
.signup a {
  background-color: #0D0C22;
  color: #FFFFFF;
  padding: 17px 24px;

  font-size: 14px;
  font-weight: bold;
  border-radius:45px ;

}
.signup:hover {
  cursor: pointer;
  opacity: 75%;
}
.login {
  list-style-type: none;
}
.login:hover {
  cursor: pointer;
  opacity: 75%;
}

.logo { 
  position: relative;
  right: 500px;
padding: 0px 16px;
justify-content: center;
align-items: center;

}






.one {
  margin-top: 80px;
  display: inline-block;
  width: 100%;
}
.homecontainer {
  position: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 32px;
  text-align: center;
  height: 300px;
  width: 100%;
  
  
}
.info {
  position: relative;
  left: 850px;
  padding: 10px 16px;
  border-radius: 20px ;
  background-color: #FFC6A7;
  width:fit-content;
  height: 40px;
  text-align: center;
  
}
.infotwo {
  font-family: "serif";
  font-size: 50px;
  letter-spacing: 3px;
  margin: 40px 170px 24px;
  text-align: center;
}
.infothree {
  font-family: "mona";
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.hiringbutton{
  background-color: #0D0C22;
  color: #FFFFFF;
  padding: 20px 24px;
  width: fit-content;
  font-size: 14px;
  font-weight: bold;
  border-radius:45px ;
  position: relative;
  left: 950px;
  margin-top: 40px;

}
.slider {
  height: 350px;
  padding-top:10px ;
  margin: 0px;
  position: relative;
  max-width: 98%;
  display: grid;
  top: 100px;
  place-items: center;
  overflow: hidden;
}
.slide-track {
  display: flex;
  width: calc(250px*20);
}
.slide {
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
}

img{
  width: 100%;
}
@keyframes scroll {
  0% {
    transform: translateX(0);

  }
  100%{
    transform: translateX(calc(-250px*9));
  }
}

.introhome {
  display: flex;
  justify-content: space-between;
  position: relative;
  
  
}